:host{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; // When this component is shown, nav-bar is not rendered.
  z-index: 100;
  padding: 1rem;
  background: lightgreen url(/assets/img/bg/trianglify.png);
  background-size: cover;



  .logo {
    position: absolute;
    left: 6rem;
    top: 3rem;
    img { max-width: 300px; }
  }


  .buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    button  {
      display: flex;
      flex-direction: column;
      width: 40%;
      min-height: 260px;
      max-width: 520px;
      font-weight: bolder;
      font-size: 2.2rem;
      background-color: rgb(127 255 246 / 56%);
      background-image: url(https://www.transparenttextures.com/patterns/3px-tile.png); // https://www.transparenttextures.com/
      // background-image: url(https://www.transparenttextures.com/patterns/dark-mosaic.png);
      // background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
      // background-image: url(https://www.transparenttextures.com/patterns/dimension.png);

      &#loginBtn {

      }

      &#searchBtn {

      }

      img {
        max-width: 30%;
        display: block;
        margin:  auto auto 0 auto;
        align-self: end;
      }

      span {margin: auto;}
    }
  }


}
