


<!-- CASTOR LOGO -->
<div class="logo">
  <img src="./assets/img/logo/castor_horizontal.png" alt="CastorLogo">
</div>


<!-- ACCESS BUTTON -->
<div class="buttons">
  <button *ngIf="configService.appConfigValues.loginConfig.SHOW_LOGIN" (click)="this.loginAccess()" id="loginBtn">
    <img src="./assets/img/icons/login.svg" alt="LOGIN ACCESS">
    <span>{{ 'welcome.loginAccess' | translate }}</span></button>
  <button (click)="this.directAccess()" id="searchBtn">
    <img src="./assets/img/icons/bags.svg" alt="DIRECT ACCESS">
    <span>{{ 'welcome.directAccess' | translate }}</span></button>
</div>



