.container {
  background: rgba(255, 255, 255, 0.48);
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  padding: 3rem 2rem;
  overflow: hidden;
  display: flex;
  max-width: 1200px;
  margin: 2.8rem auto;

  @media screen and (max-width: 900px) {
    flex-direction: column;

    app-cart-sumup {
      margin: 1rem 0 0 0 !important;
      padding-bottom: 0 !important;
    }
  }
  @media screen and (max-width: 1220px) {
    max-width: 95%;
  }

  .products {
    flex: 0.75;
    overflow: hidden auto;
    padding-right: 10px;

    // CUSTOM SCROLL BAR
    &::-webkit-scrollbar {
      width: 8px;
    }


  }


  app-cart-sumup {
    position: relative;
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: fit-content;
    border: 1px solid silver;
    border-radius: 5px;
  }
}






