<div class="container">
    <!-- LEFT COLUMN: TICKET ITEMS -->
    <div class="products">
      <ng-container *ngIf="evaluatedCart | async">
        <app-cart-item *ngFor="let item of cartService.ticketLines; index as i; count as c;" [ticketLine]="item"></app-cart-item></ng-container>
    </div>

    <!-- RIGHT COLUMN: TICKET SUM UP -->
    <app-cart-sumup *ngIf="evaluatedCart | async"></app-cart-sumup>
</div>
