:host {
  background: rgba(255, 255, 255, 0.48);
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  padding: 3rem 2rem;
  overflow: hidden;


  // PRODUCTS GRID.
  #productsGrid {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    gap: 2rem;
    max-height: 100%;
    overflow-y: scroll;
  }

  @media (orientation: portrait) {
    #productsGrid {
      app-model-item {
        transform: scale(.85);
      }
    }
  }
}


