:host {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;

  text-align: center;

  &[data-type=red] {
    #pixelBtnContainer a {
      border: 1px solid var(--color-red);
      &:hover {
        background: var(--color-red) url(assets/pixel.png); // 360px x 1080px
      }
    }
  }

  &[data-type=purple] {
    #pixelBtnContainer a {
      border: 1px solid var(--color-purple);
      &:hover {
        background: var(--color-purple) url(assets/pixel2.png); // 360px x 1080px
      }
    }
  }

  #pixelBtnContainer {
    display: flex;
    justify-content: center;


    a {
      position: relative;
      width: 180px;
      height: 60px;
      margin: 20px;
      line-height: 60px;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: var(--color-white);
      transition: var(--speed-normal);
      border: 1px solid var(--color-red);
      &:hover {
        border: 1px solid transparent;
        background: var(--color-red) url(assets/pixel.png); // 360px x 1080px
        transition-delay: 0.8s;
        background-size: 180px;
        animation: animate var(--speed-fast) steps(8) forwards;
      }
    }
    @keyframes animate {
      0% {
        background-position-y: 0;
      }
      100% {
        background-position-y: -480px;
      }
    }

  }
}
