:host {
  position: absolute;
  width: 100%;
  left: 0;
  top: 80px;
  height: calc(100vh - 80px);
  z-index: 101;
  background: rgba(240, 248, 255, 0.85);
  font-weight: bold;
  font-size: 1.2rem;


  #idleModal {

    width: 40%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1rem;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    background-color: rgb(127 255 246 / 39%);
    background-image: url(https://www.transparenttextures.com/patterns/dimension.png);

    P:first-child { font-size: 1.4rem;}


    #idleBtns {
      display: flex;
      justify-content: space-around;
      gap: 1rem;
      margin-top: .8rem;

      button {
        width: 80%;
        height: 2.4rem;
        font-weight: bold;
        font-size: 1.2rem;
        border: 1px solid #333;
        color: #333;
        cursor: pointer;
        &#logoutBtn {
          background-color: palevioletred;
        }
        &#closeBtn {
          background-color: lightseagreen;
        }
      }
    }

  }


  .close-viewer {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    padding: 7px;
    z-index: 9999999;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
