

<div id="idleModal">

  <p>¿Hola?</p>

  <p>Parece que no hay nadie ahí...</p>

  <p>Será deslogueado en... <span>{{this.sharedService.countDown | number: '2.0-0'}}</span> seconds.</p>

  <div id="idleBtns">
    <button id="logoutBtn" type="button" (click)="doLogout()">SALIR</button>
    <button id="closeBtn" type="button" (click)="keepShopping()">SEGUIR COMPRANDO</button>
  </div>

</div>



<!-- Close Button -->
<a class="close-viewer" (click)="keepShopping()"><img src="assets/img/icons/close_circle_white.svg" alt="Close Button"></a>
