#selectedCategoriesMap {

  padding: .2rem .6rem;
  background-color: darkturquoise;
  margin-top: .6rem;
  border-radius: 50px 4px 4px 50px;
  text-align: right;
  width: fit-content;
  margin-left: auto;

  .selected-cat {

    pointer-events: all;

    &:not(:first-child) {
      font-weight: bold;
      font-size: 1.2rem;
      text-decoration: underline;
      cursor: pointer;
    }

    &:after {
      content: ' ⇒ ';
      font-weight: bolder;
    }

    &:last-child {
      pointer-events: none;
      &:after {
        display: none;
      }
    }
  }


}
