<div id="selectedCategoriesMap" *ngIf="navBarsArray && isThereAnySelectedCategory() ">
  <span>{{'graphicNavigation.categoriesMapMsg' | translate}}</span>
  <!-- For each navBar item, for each category belongin to that navBar, find the one which isSelected = true and create <span> -->
  <ng-container *ngFor="let navBar of navBarsArray; let i = index;">
    <ng-container *ngFor="let category of navBar.categories; let j = index; let c = count;">
      <span @fadeIn class="selected-cat" *ngIf="category.isSelected" (click)="clickedCategory($event)"
            [attr.data-catid]="category.id" [attr.data-level]="i">{{ category.label.es }}</span>
    </ng-container>
  </ng-container>
</div>
