:host {
  background: rgba(255, 255, 255, 0.48);
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100% - 80px);
  width: 100%;
  z-index: 100;
  padding: 3rem 2rem;
  overflow: hidden;

  section#productDetails {

    display: grid;
    grid-template-columns: 6fr 4fr;
    justify-content: space-evenly;
    gap: 2rem;
    height: 100%;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.48);


    .photo_gallery {
      height: fit-content;
      display: grid;
      justify-items: center;
      max-width: 95%;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
      .photo_gallery_item {

        img {
          object-fit: contain;
          width: 100%;
          height: 90%;
          margin: auto;
          max-height: 90%;
          max-width: 450px;
        }
      }
    }


    .product_info {

      padding: 2rem 2rem 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .map {
        color: lightgray;
        span {
          color: darkgray;
        }
      }

      .title {
        font-size: 2.4rem;
        letter-spacing: 1px;
      }

      .reference {
        font-size: .8rem;
        letter-spacing: 1px;
        color: darkgray;
        margin-top: -1rem;
        padding-left: 0.2rem;
      }

      .description {
        color: dimgray;
        letter-spacing: 1px;
        line-height: 1.6rem;
      }


      .price {

        font-size: 3rem;
        font-weight: lighter;
      }

      form.dimensions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem 1REM 1REM;

        .dimension {

          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;


          &.warning {
            border: 1px solid darkred;
          }

          .dimension_name {
            width: 100%;
            margin-bottom: 1rem;
          }

          // IMG CHECKBOXES FOR DIMENSION COMPONENTS
          .component {

            position: relative;
            width: 75px;
            height: 75px;
            padding: 3px;
            text-align: center;
            cursor: pointer;

            // DISABLED DIMENSIONS
            &.disabled {

              // When the component label is an IMG
              img + .crossOut {
                height: 75%;
                width: 75%;
                top: 12.5%;
                left: 12.5%;
              }

              .crossOut {
                position: absolute;
                height: 50%;
                width: 75%;
                top: 25%;
                left: 18%;
                pointer-events: none;
                color: darkgray;
                background: transparent;
                background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
              }


            }

            input[type=radio] {
              display: none;
              &:checked + label > img, &:checked + label > .compName {
                border: 1px solid #36dfb5;
                font-weight: bolder;
              }
            }
            label {

              width: fit-content;
              height: fit-content;
              pointer-events: all;
              cursor: pointer;
              img {
                max-width: 100%;
                max-height: 100%;
                padding: 3px;
                background-color: #f7f7f7;
                &:hover {
                  opacity:0.6;
                  cursor: pointer;
                }

                &:active {
                  opacity:0.4;
                  cursor: pointer;
                }

              }


              .compName {
                position: relative;
                text-align: center;
                width: 72px;
                height: 60px;
                line-height: 60px;
                background-color: #f7f7f7;
                margin: 3px;
                user-select: none;
                pointer-events: all;

                svg {
                  position: absolute;
                  left: .4rem;
                  top: .4rem;
                }
              }
            }

          }
        }
      }

      .stock {
        text-align: right;
        --on-stock-color: limegreen;
        --on-global-stock-color: yellowgreen;
        --out-stock-color: #ff9b9b;
        user-select: none;

        & > * {
          border: 1px solid limegreen;
          width: fit-content;
          margin-left: auto;
          border-radius: 50px;
          padding: 2px 8px;
          font-weight: bold;
        }

        .on-stock {
          background-color: var(--on-stock-color);
          border-color: #269426;
        }
        .on-global-stock {
          background-color: var(--on-global-stock-color);
          border-color: #628320;
        }
        .out-of-stock {
          background-color: var(--out-stock-color);
          border-color: #9d6060;
        }
      }

      #addBtn {
        height: 5rem;
        border-radius: 0;
        border: none;
        font-size: 1.2rem;
        background-color: #999;
        color: #fff;
        cursor: pointer;
      }

    }

  }


  // IMAGES ZOOM: Swiper
  zoom-gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: lightblue;
  }
}




