<!-- https://www.on-running.com/en-gb/products/cloud/mens/zinc-white -->
<section *ngIf="model" id="productDetails">

  <!-- LEFT COLUMN: Images -->
  <div class="photo_gallery">
    <div class="photo_gallery_item" *ngFor="let img of model.img_urls"><img src="{{img}}" alt="Product Img"
          (click)="openZoomGallery(img)"></div>
  </div>


  <!-- RIGHT COLUMN: Product Info -->
  <div class="product_info">

    <div class="map"><span>{{"Family" | uppercase}}</span> > <span>{{"SubFamily" | uppercase}}</span></div>
    <div class="title">{{currProduct ? currProduct.name : model.name | uppercase}}</div>
    <div class="reference">{{currProduct ? currProduct.reference : model.reference | uppercase}}</div>
    <div class="description" [innerHTML]="currProduct ? currProduct.description : model.description"></div>
    <div class="price">{{(currProduct ? currProduct.pvp : model.pvp) | currency:'EUR':'symbol'}}</div>

    <form class="dimensions" id="dimensionsForm" #dimensionsForm="ngForm" #formElement *ngIf="model.dimensions" (change)="changeDimension($event, dimensionsForm)" novalidate>

      <!-- ONE DIV FOR EACH ELEMENT OF model.dimensions -->
      <div class="dimension form-group" *ngFor="let dimension of model.dimensions" [id]="'dim_'+ dimension.id" [attr.data-dimName]="dimension.name | uppercase" data-ng-model="userType">
        <!-- DIMENSION TITLE -->
        <div class="dimension_name">{{'productDetail.select' | translate}}  {{ dimension.name | uppercase }}</div>
        <!-- ONE CHECKBOX FOR EACH DIMENSION COMPONENT -->
        <div class="component" *ngFor="let component of dimension.dimComponents" >
          <input type="radio" [id]="'dim_'+ dimension.id+'_dimComp_' + component.id" value="{{component.id}}" [attr.data-compName]="component.name"
                 name="{{'dim_'+ dimension.id}}" [name]="'dim_'+ dimension.id" ngModel required>
          <label [for]="'dim_'+ dimension.id+'_dimComp_' + component.id">


            <!-- COMPONENT IMAGE -->
            <!-- <img *ngIf="component.hasOwnProperty('imgURL') && component.imgURL != ''; else compName" src="{{component.imgURL}}" alt="Product Img" title="{{component.name}}"/> -->
            <!-- COMPONENT NAME -->
            <!-- <ng-template #compName><div class="compName">{{component.name}}</div></ng-template> -->




            <!-- IMAGE COMPONENT -->
            <ng-container *ngIf="component.imgURL && component.imgURL != ''; else compColor">
              <img src="{{component.imgURL}}" alt="Product Img" title="{{component.name}}">
            </ng-container>
            <!-- COLOR COMPONENT -->
            <ng-template #compColor>
              <ng-container *ngIf="component.code && component.code != ''; else compName">
                  <div class="compName">{{component.name}}
                    <svg height="12" width="12">
                      <circle cx="6" cy="6" r="6" attr.fill="{{component.code}}" />
                    </svg></div>
              </ng-container>
            </ng-template>
            <!-- TEXT COMPONENT -->
            <ng-template #compName>
              <ng-container><div class="compName">{{component.name}}</div></ng-container>
            </ng-template>



            <!-- CROSSOUT FOR DISABLED COMPONENTS -->
            <span class="crossOut"></span>
          </label>
        </div>
      </div>
    </form>

    <!-- STOCK INFO: Only visible once all dims has been selected -->
    <div class="stock" *ngIf="currProduct">
      <div *ngIf="currProduct.stock; else onGlobalStock" class="on-stock">{{appConfigService.appConfigValues.labelsConfig.STOCK_ES}}</div>
      <ng-template #onGlobalStock><div *ngIf="currProduct.stockGlobal; else outOfStock" class="on-global-stock">{{appConfigService.appConfigValues.labelsConfig.STOCK_GLOBAL_ES}}</div></ng-template>
      <ng-template #outOfStock><div *ngIf="currProduct" class="out-of-stock">{{appConfigService.appConfigValues.labelsConfig.OUT_STOCK_ES}}</div></ng-template>
    </div>

    <!-- ADD TO CART BUTTON -->
    <button id="addBtn" (click)="addProduct(dimensionsForm)" [@addBtnAnimation]="currProduct === undefined || this.productUnavailable ? 'cannotAddState' : 'canAddState'"
            [disabled]="currProduct === undefined || this.productUnavailable">{{ addBtnText | uppercase}}</button>
  </div>

  <!-- IMAGE VIEWER: Full screen zoom, with pagination and navigation -->
  <zoom-gallery *ngIf="this.viewerOpen" [imgArray]="model.img_urls" [startImg]="this.galleryStartImgIndex" (close)="viewerOpen = false" @fadeIn @fadeOut></zoom-gallery>

  <!-- CART TEASER: Shown after adding products to CartService -->
  <app-checkout-teaser (close)="this.showTeaser = false" [isShown]="showTeaser"></app-checkout-teaser>

</section>






