<form class="wrapper" [formGroup]="formTicketInstance">

  <h3>{{'checkOut.ticketOptions.title' | translate}}</h3>

    <input type="radio" name="email_select" formControlName="email_select" value="true" id="option-1" [ngModel]="sentTicketByEmail" required>
    <label for="option-1" class="option option-1">
      <span class="icon"><img src="assets/img/icons/environmental.svg" alt="Environment"></span>
      <span class="dot"></span>
      <span class="label">{{'checkOut.ticketOptions.email' | translate}}</span>
    </label>

    <input type="radio" name="email_select" formControlName="email_select" value="false" id="option-2" [ngModel]="sentTicketByEmail">
    <label for="option-2" class="option option-2">
      <span class="icon"><img src="assets/img/icons/print.svg" alt="Printer"></span>
      <span class="dot"></span>
      <span class="label">{{'checkOut.ticketOptions.print' | translate}}</span>
    </label>

  <input class="email transparent" type="email" id="email_to" name="email_to" [ngModel]="emailAddress" formControlName="email_to"
         autocomplete="email_to" placeholder="{{'checkOut.ticketOptions.emailPlaceholder' | translate}}*">
  <input class="info transparent" type="text" disabled placeholder="{{'checkOut.ticketOptions.printPlaceholder' | translate}}">
  <!-- <input type="email" id="ticket_email" name="ticket_email" autocomplete="ticket_email"> -->
</form>
