// @import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

.wrapper{
  display: flex;
  flex-flow: row wrap;
  height: 220px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);

  h3 {
    flex: 0 0 95%;
    margin: 0 0 1rem;
  }

  label.option{
    background: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    flex: 0 0 45%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;


    .dot{
      height: 20px;
      width: 20px;
      background: #d9d9d9;
      border-radius: 50%;
      position: relative;
      &::before{
        position: absolute;
        content: "";
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background: #0069d9;
        border-radius: 50%;
        opacity: 0;
        transform: scale(1.5);
        transition: all 0.3s ease;
      }
    }

    span.label {
      font-size: 20px;
      color: #808080;
    }


    .icon {
      align-self: flex-end;
      flex: 0 0 95%;
      text-align: center;
      img {
        height: 35px;
        max-width: 20%;
      }
    }

  }

  input[type="email"], input[type="text"] {
    height: 20%;
    margin: 1rem 10px 0 10px;
    flex: 0 0 95%; /* Let it fill the entire space horizontally */
    &.info {background: rgb(142 142 142 / 20%);}
  }

  // Hide email input if option 2 is checked
  #option-2:checked ~ input[type="email"] {display: none;}
  // Hide info input if option 1 is checked
  #option-1:checked ~ input[type="text"] {display: none;}

}



input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #58a8ff;
  background: #88c2ff;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}
