<div *ngIf="isShown" class="checkout-teaser-container" @fadeInItemsAnimation>
  <span class="title">{{'checkoutTeaser.productAdded' | translate}}</span>

  <div class="items-list" #itemsList  >
    <div *ngFor="let prod of cartService.getTicketLines(); index as i; count as c;" class="item">
      <img src="{{prod.product.img_urls[0]}}" alt="Product Img"><span>{{ prod.product.name}}</span><span>{{ prod.quantity}} Uds</span></div>
  </div>


  <div class="sum-up">
    <span>Total:</span>
    <span class="amount">{{cartService.getTotalItems()}} Us</span>
    <!-- <span class="price">{{cartService.getTotalPVP() | currency:'EUR':'symbol'}} </span> -->
  </div>

  <div class="buttons">
    <button class="close" (click)="close.emit()">{{'cart.keepShoppingBtn' | translate}}</button>
    <button class="checkout" (click)="sharedService.goToPage('cart')">{{'cart.checkoutBtn' | translate}}</button>
  </div>

  <button id="closeTeaser" (click)="close.emit()">x</button>


</div>




