:host {

  position: absolute;
  right: 0;
  bottom: 0;
  width: 35%;
  height: 0;
  max-height: 500px;
  transition: all .4s ease-out;
  background-color: rgba(201, 255, 232, 0.8);
  padding-bottom: 75px;
  border-bottom-left-radius: 2px;
  border-bottom: 1px dashed grey;
  border-left: 1px dashed grey;

  .checkout-teaser-container {
    overflow: hidden;
    padding: 1rem 1rem .2rem;
    height: 100%;
    max-height: 430px;
    display: flex;
    flex-direction: column;

    .title {
      height: 3rem;
      line-height: 2rem;
      text-align: center;
      background-image: url('../../../../assets/img/icons/check.svg');
      background-size: 28px;
      background-position: 10px top;
      background-repeat: no-repeat;
      padding-left: 35px;
    }

    .items-list {
      overflow-y: auto;
      padding: 0 .4rem 0 0;

      .item {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        border: 1px solid #504545;
        border-radius: 2px;
        margin-bottom: .4rem;
        background-color: #f8fff8;

        &:last-child {
          transition: background-color .1s ease-out;
        }

        img {margin: .2rem; max-width: 80%;}
      }
    }

    .sum-up {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      margin-top: .6rem;
      padding-left: 1rem;
      font-size: 1.4rem;
      color: #333;

      .amount {
        text-align: right;
        padding-right: 2rem;
      }
    }

    .buttons {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 5rem;
      display: flex;

      button {
        width: 50%;
        background-size: 20px;
        background-position: 10px center;
        background-repeat: no-repeat;
        padding-left: 35px;
        border:none;
        cursor: pointer;
        border-radius: 0;
        opacity: .8;
        transition: opacity .1s ease-out;

        &:hover {opacity: 1;}

        &.close {
          background-color: lightgreen;
          background-image: url('../../../../assets/img/icons/bags.svg');
        }
        &.checkout {
          background-color: paleturquoise;
          background-image: url('../../../../assets/img/icons/cart_color.svg');

        }
      }
    }

    #closeTeaser {
      position: absolute;
      right: .6rem;
      top: .6rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
