<!-- CATEGORY NAV BARS -->
<section *ngIf="navBars" [@slideInOut]="navBars.length" (@slideInOut.done)="onAnimationEvent($event)" id="categoriesNavBar">
  <app-categories-navbar *ngFor="let navBar of navBars; index as i; count as c;" [categories]="navBar.categories" [level]="i"
                         [totalBars]="c" id="{{'level' + i}}" [attr.data-parent]="navBar.prevSelectedCat"
                         (onCategorySelected)="onNewCategorySelected($event)"></app-categories-navbar>
</section>

<hr>

<app-categories-map [navBarsArray]="navBars" (onCategorySelected)="onNewCategorySelected($event)"></app-categories-map>

<!-- PRODUCTS GRID -->
<section id="productsGrid" #productsGrid>
  <app-model-item @fadeIn class="productItem vertical" *ngFor="let model of modelsArray;  index as i; count as c;" [model]="model">
  </app-model-item>
</section>
