:host {


  section#categoriesNavBar {
    transition: height .4s ease-out;

    app-categories-navbar {
      height: 74px;
      margin-bottom: .6rem;
      overflow-y: hidden;

      ::ng-deep app-category {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        height: 58px;
        .simple_card .simple_card__front {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        .simple_card .simple_card__name {
          margin-top: -.9rem!important;
          white-space: nowrap;
        }
      }
    }
  }


  section#productsGrid {
    height: 85%;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    max-height: 100%;
    overflow-y: auto;
    transition: width .4s ease-out;

    app-model-item {
      height: fit-content;
      min-height: unset;
      box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
    }
  }

  @media (orientation: portrait) {
    section#level0 {
    }
    section#productsGrid {
      gap: 0; // Since elements of grid ar 0.9 scaled we dont need the gap.
      app-model-item {
        max-width: 45%;
        transform: scale(.9);
      }
    }
  }
}
