:host {

  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: .2rem .2rem .2rem 1rem;
  box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
  overflow-y: hidden;


  .item {
    font-weight: bold;
    cursor: pointer;
    background-color: aquamarine;
    padding: .4rem  1rem;
    border-radius: 4px;
    transition: all .2s ease-out;
    white-space: nowrap;

    &.active {
      color: ivory;
      background-color: #00ACEA;
      border: 1px solid dimgrey;
    }
  }

  app-category {
    height: 100%;
  }
}
