<!-- <div class="item" id="cat_{{cat.id}}" *ngFor="let cat of categories index as i; count as c;"
     (click)="clickedCategory(cat.id)" [ngClass]="{'active': cat.id == selectedCategoryId}">{{cat.label.es}}</div> -->

<app-category *ngFor="let cat of categories; index as i; count as c;"
              class="level1" id="cat_{{cat.id!}}"
              [category]="cat" [index]="i" (click)="clickedCategory( cat.id!)" [ngClass]="{'active': cat.id == selectedCategoryId}"></app-category>
