/* MODAL STYLES
-------------------------------*/
:host {

  .alert-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top:  80px;
    right: 0;



    &.alert-success {
      .alert-modal-body {
        background-color: rgba(195, 255, 188, 0.6);
      }
    }
    &.alert-error {
      .alert-modal-body {
        background-color: rgba(205, 92, 92, 0.8);
      }
    }

    /* z-index must be higher than .alert-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;

    .alert-modal-body {
      position: relative;
      background: #fff;
      /* margin exposes part of the modal background */
      margin: 40px;
      font-weight: bold;
      padding: 1.2rem 3.4rem 1.2rem 2.2rem;
      border-radius: 4px;
      user-select: none;
      .closeBtn {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
      }
    }
  }

  .alert-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .alert-modal and above everything else  */
    z-index: 900;
  }
}

