<div @fadeIn @fadeOut class="alert-modal" *ngIf="message" [ngClass]="message.cssClass">

  <div class="alert-modal-body">
    <a class="closeBtn" (click)="close()">x</a>
    <!-- <ng-content></ng-content> -->
    {{message.text | titlecase }}
  </div>
</div>
<!-- <div class="alert-modal-background"></div> -->
