
<h2>{{'login.title' | translate}}</h2>


<div class="scan-icon-container">
  <img id="scanIcon" src="assets/img/icons/qr.svg" alt="QR Code">
  <div id="redBar" class="red-bar"></div>
  <div class="corners corners-top"></div>
  <div class="corners corners-btm"></div>
  <!-- <img src="assets/img/gif/barcode-scan.gif" alt="QR Code"> -->
</div>

<span *ngIf="loading" class="spinner"></span>
<h3 *ngIf="!loading">{{'login.hintQR' | translate}}</h3>



<!-- QR Scanner -->
<div class="scanner-container">
  <zxing-scanner [torch]="torchEnabled" [device]="currentDevice" (scanSuccess)="onCodeResult($event)"
                 [formats]="allowedQRFormats" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
                 (camerasFound)="onCamerasFound($event)" (camerasNotFound)="onCamerasNotFound()" (torchCompatible)="onTorchCompatible($event)">

  </zxing-scanner></div>

