


.scan-icon-container {
  margin-bottom: 1rem;
  position: relative;

  img#scanIcon  {
    height: 320px;
  }

  #redBar {
    opacity: 0;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: indianred;
    border-radius: 4px;
    transition: opacity .4s ease-out;
    &.animate {
      opacity: 1;
      animation: 1s scan ease-in-out infinite;
      animation-direction: alternate;
      @keyframes scan {
        to {top: 99%;}
      }
    }
  }

  .corners {
    --corners-color: #0d88d3;
    --corners-width: 2px;
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    &.corners-top {
      top: 0;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        border-top: var(--corners-width) solid var(--corners-color);
        border-left:var(--corners-width) solid var(--corners-color);
      }

      &:after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        border-top: var(--corners-width) solid var(--corners-color);
        border-right:var(--corners-width) solid var(--corners-color);
      }
    }
    &.corners-btm {
      bottom: 1%;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        border-bottom: var(--corners-width) solid var(--corners-color);
        border-left:var(--corners-width) solid var(--corners-color);
      }

      &:after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        border-bottom: var(--corners-width) solid var(--corners-color);
        border-right:var(--corners-width) solid var(--corners-color);
      }


    }
  }


}

h2, h3 {
  color: var(--textColor);
  opacity: 0.7;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(255,255,255,0.2);
}

h3 {
  font-size: 1.4rem;
  filter: brightness(50%) saturate(140%);
}


.spinner {
  position: absolute;
  top: 3rem;
  right: 1rem;
}


.scanner-container {
  display: none;

  zxing-scanner::ng-deep  {
    max-height: 4vh;
    width: 100%;
    object-fit: cover;
  }
}




