<div>
  <app-nav-bar></app-nav-bar>
</div>
<div>
  <app-alert></app-alert>
  <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
  <app-idle-user-modal @fadeIn @fadeOut *ngIf="this.sharedService.showIdleCountDown" (close)="this.sharedService.restartIdleTimer()"></app-idle-user-modal>


  <!-- VIRTUAL KEYBOARD -->
  <div class="simple-keyboard" autoUseTouchEvents="true"></div>
</div>
