#nav-bar {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.14);
  display: flex;
  gap: 1rem;
  flex-direction: row;
  padding-right: 1rem;

  .logo {
    margin-left: 1rem;
    height: 40px;
    vertical-align: middle;
    align-self: center;
    img {max-height: 100%}
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .user-name {
    align-self: center;
    font-weight: bold;
    margin-right: 2rem;
    background-color: #333;
    padding: .4rem 1rem;
    border-radius: 50px;
    color: lightblue;
    user-select: none;
  }


  button {
    height: 3rem;
    width: 3rem;
    align-self: center;
    margin-right: 1rem;
    background-position: center;
    background-size: 3rem;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    will-change: background-size;
    cursor: pointer;
    transform-origin: center center;
    transition: transform .1s ease-out;
    border-radius: 50px;

    &.active {
      background-color: lightblue;
    }

    // BACK
    &#back { background-image: url(../../../assets/img/icons/back_arrow_circle.svg); transform: scale(.7); margin-left: .6rem;}
    // LOGOUT
    &#logout { background-image: url(../../../assets/img/icons/logout.svg); transform: scale(.6); }
    // HOME
    &#home { background-image: url(../../../assets/img/icons/home_circle.svg) }
    // CONFIG
    &#config { background-image: url(../../../assets/img/icons/config.svg) }
    // SEARCH
    &#search { background-image: url(../../../assets/img/icons/glass_circle.svg) }
    // CART
    &#cart {
      position: relative;
      background-image: url(../../../assets/img/icons/cart_cricle.svg);

      &.full {
        background-image: url(../../../assets/img/icons/cart_full_cricle.svg);
      }

      // Cart items counter
      &:after {
        content: attr(data-count);
        width: 22px;
        height: 22px;
        background-color: #222;
        border: 1px solid #222;
        color: ivory;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50px;
        line-height: 1.6rem;
        font-size: 1rem;
        font-weight: bold;
      }

      &.shaking {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
      @keyframes shake {
        10%, 90% {transform: translate3d(-1px, 0, 0);}
        20%, 80% {transform: translate3d(2px, 0, 0);}
        30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
        40%, 60% {transform: translate3d(4px, 0, 0);}
      }
    }

    &:hover {
      transform: scale(1.1)
    }
  }
}
