<div id="nav-bar" *ngIf="showNavBar">

  <!-- GO BACK BUTTON -->
  <button id="back" (click)="backClicked()" title="Go Back"></button>
  <!-- LOGO -->
  <span class="logo">
    <img src="assets/img/logo/castor_horizontal.png" alt="AQS Logo">
  </span>
  <span class="fill-remaining-space"></span>


  <!-- USER NAME: If logged -->
  <span class="user-name" *ngIf="authenticationService.currentUser | async">Hola {{(this.authenticationService.isUserLoggedIn ? authenticationService.currentUserValue?.username : null)  | titlecase }}</span>
  <!-- HOME -->
  <button id="home" routerLink="/" title="Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></button>
  <!-- CONFIG -->
  <button id="config" routerLink="config" Title="Configuración de la App" routerLinkActive="active"></button>
  <!-- SEARCH -->
  <button id="search" routerLink="{{configService.appConfigValues.navConfig.NAV_TYPE === 'SEARCH' ? 'search' : 'graphicNavigation'}}" title="Search" routerLinkActive="active"></button>
  <!-- CART -->
  <button #cart id="cart" routerLink="cart" Title="Carrito de la compra" [attr.data-count]="this.cartService.getTotalItems().toString()" routerLinkActive="active" [ngClass]="this.cartService.getTotalItems() ? 'full' : ''"></button>
  <!-- LOGOUT -->
  <button *ngIf="authenticationService.currentUser | async" id="logout" routerLink="welcome" (click)="authenticationService.logout('welcome')" title="Log-out"></button>
</div>


<!-- FOR DEMO -->
<img class="mantecado mantecado1" src="../../../assets/MockUp/mantecados/mantecado01.png"  alt="" style="display: none">
<img class="mantecado mantecado2" src="../../../assets/MockUp/mantecados/mantecado02.png"  alt="" style="display: none">
<img class="mantecado mantecado3" src="../../../assets/MockUp/mantecados/mantecado03.png"  alt="" style="display: none">
<img class="mantecado mantecado4" src="../../../assets/MockUp/mantecados/mantecado04.png"  alt="" style="display: none">
<img class="mantecado mantecado5" src="../../../assets/MockUp/mantecados/mantecado05.png"  alt="" style="display: none">
<img class="mantecado mantecado6" src="../../../assets/MockUp/mantecados/mantecado06.png"  alt="" style="display: none">
<img class="mantecado mantecado7" src="../../../assets/MockUp/mantecados/mantecado07.png"  alt="" style="display: none">
<img class="mantecado mantecado8" src="../../../assets/MockUp/mantecados/mantecado08.png"  alt="" style="display: none">
<img class="mantecado mantecado9" src="../../../assets/MockUp/mantecados/mantecado09.png"  alt="" style="display: none">
<img class="mantecado mantecado10" src="../../../assets/MockUp/mantecados/mantecado10.png" alt=""  style="display: none">
<img class="mantecado mantecado11" src="../../../assets/MockUp/mantecados/mantecado11.png" alt=""  style="display: none">
<img class="mantecado mantecado12" src="../../../assets/MockUp/mantecados/mantecado12.jpg" alt=""  style="display: none">
<img class="mantecado mantecado12" src="../../../assets/MockUp/mantecados/mantecado13.jpg" alt=""  style="display: none">
<img class="mantecado mantecado12" src="../../../assets/MockUp/mantecados/mantecado14.png" alt=""  style="display: none">
<img class="mantecado mantecado12" src="../../../assets/MockUp/mantecados/mantecado15.png" alt=""  style="display: none">
<img class="mantecado mantecado12" src="../../../assets/MockUp/mantecados/mantecado16.jpg" alt=""  style="display: none">
<img class="mantecado mantecado12" src="../../../assets/MockUp/mantecados/mantecado17.jpg" alt=""  style="display: none">
<img class="mantecado mantecado12" src="../../../assets/MockUp/custom_product.png" alt=""  style="display: none">


<img class="mantecado mantecado12" src="../../../assets/MockUp/categories/category_bg.png" alt="" style="display: none">
