<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">

  <h2>{{'login.title' | translate}}</h2>


  <!-- USERNAME -->
  <div class="form-group">
    <label for="username">Usuario</label>
    <input class="input form-control" on-focus="keyboardService.onInputFocus($event)" id="username" type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="{{'login.userPlaceholder' | translate}}" autofocus>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback" @fadeIn @fadeOut>
      <div *ngIf="f.username.errors.required">Username is required*</div>
    </div>
  </div>
  <!-- PASSWORD -->
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input class="input form-control" id="password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="{{'login.passPlaceholder' | translate}}" autocomplete="new-password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback" @fadeIn @fadeOut>
      <div *ngIf="f.password.errors.required">Password is required*</div>
    </div>
  </div>

  <!-- LOGIN BUTTON -->
  <div id="loginButtonContainer" class="form-group">
    <button [disabled]="loading" class="">
      <span *ngIf="loading" class="spinner"></span>
      Login
    </button>
  </div>

</form>
