

a, input:focus, select:focus, textarea:focus, button:focus {
  outline: none!important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;


  h2 {
    color: var(--textColor);
    opacity: 0.7;
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.2);
  }

  .form-group {
    width: 100%;

    label {
      display: none;
    }

    input, button {
      background: rgba(255,255,255,.2);
      width: 95%;
      height: 3.8rem;
      font-size: 1.2rem;
      padding: 1rem 1rem 1rem 2rem;
      margin-bottom: 2em;
      border: none;
      border-left: 1px solid var(--white);;
      border-top: 1px solid var(--white);;
      border-radius: 5000px;
      backdrop-filter: blur(5px);
      box-shadow: 4px 4px 60px rgba(255,255,255,0.2);
      color: var(--textColor);
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      text-shadow: 2px 2px 4px rgba(255,255,255,0.2);


      &::placeholder {
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        color: var(--placeholderColor);
        text-shadow: 2px 2px 4px rgba(255,255,255,0.4);
      }

      &:hover {
        background: rgba(255,255,255,0.1);
        box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
      }

      &[type="email"], &[type="password"] {
        &:focus {
          background: rgba(255,255,255,0.1);
          box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
        }
      }


    }

    &#loginButtonContainer {
      width: 100%;
      text-align: center;
      button {
        width: 80%;
        height: 60px;
        padding: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 1rem;

        &:hover {
          cursor: pointer;
        }

        &:active {
          background: rgba(255,255,255,0.2);
        }
      }

      .spinner {
        position: absolute;
        top: calc(50% - 18px);
        right: .7rem;
      }
    }

    .invalid-feedback {
      text-align: right;
      margin-top: -1.8rem;
      margin-bottom: .6rem;
      padding-right: .4rem;
      color: indianred;
    }

  }






}
