/* ----- Variables ----- */
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

:host {
  min-height: 100%;
  max-width: 43%;

  img {
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px $color-secondary);
  }

  ul {padding: 0;}

  /* ----- Product Section ----- */
  .product {
    display: grid;
    grid-template-columns: .9fr 1fr;
    margin: auto;
    padding: 1.5rem 0;
    min-width: 500px;
    max-width: 100%;
    width: 500px;
    // height: 100%;
    background-color: white;
    border-radius: 5px;

    /* ----- Photo Section ----- */
    .product__photo {
      position: relative;

      .photo-container {
        position: absolute;
        left: -2.5em;
        display: grid;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
      }

      .photo-main {
        border-radius: 6px 6px 0 0;
        background-color: #9be010;
        background: radial-gradient(#e0ff6c, #abd35a);

        .controls {
          display: flex;
          justify-content: space-between;
          padding: 0.8em;
          color: #fff;

          i {
            cursor: pointer;
            width: 20px;
            height: 20px;
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;

            &.favourite {
              background-image: url('../../../../assets/img/icons/heart.svg');
            }
            &.share {
              background-image: url('../../../../assets/img/icons/sharing.svg');
            }
          }
        }

        img {
          position: absolute;
          left: -2.5em;
          top: 45%;
          transform: translateY(-50%);
          max-width: 110%;
          max-height: 90%;
          filter: saturate(150%) contrast(120%) hue-rotate(10deg)
          drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
        }
      }

      .photo-album {

        padding: 0.7em 1em;
        border-radius: 0 0 6px 6px;
        background-color: #fff;

        ul {
          display: flex;
          grid-gap: 5px;
          justify-content: space-around;
          list-style: none;
          margin: auto;
          padding: 0;
        }

        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          float: left;
          width: 100%;
          padding: 7px;
          border: 1px solid $color-secondary;
          border-radius: 3px;
        }
      }
    }



    /* ----- Informations Section ----- */
    .product__info {
      padding: 0.8em 1rem 0 0;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 0.7em;
        letter-spacing: 1.2px;
        color: $color-secondary;
      }

      .title {
        h1 {
          margin-bottom: 0.1em;
          color: $color-primary;
          font-size: 1.5em;
          font-weight: 900;
        }

        span {
          font-size: 0.7em;
          color: $color-secondary;
        }
      }

      .price {
        margin: 1.5em 0;
        color: $color-highlight;
        font-size: 1.2em;

        span {
          padding-left: 0.15em;
          font-size: 2.9em;
        }
      }

      .variant {
        overflow: auto;

        h3 {
          margin-bottom: 1.1em;
        }

        ul {
          display: inline-flex;

          li {
            align-self: center;
            float: left;
            width: 35px;
            height: 35px;
            margin-right: 0.6rem;
            padding: 3px;
            border: 1px solid transparent;
            border-radius: 3px;
            cursor: pointer;
            list-style: none;
            &.comp-img {}
            &.comp-color {
              padding-left: .2rem;
              border-color: #666;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              min-width: 40px;
              width: fit-content;
              text-align: center;
              padding-right: .4rem;
              span { margin-left: .4rem;}
            svg {margin-top: 2px;}}
            &.comp-name {
              width: fit-content;
              min-width: 40px;
              border-color: #666;
              display: table; padding-top: 8px;
              text-align: center;}
            &:hover {border: 1px solid $color-secondary;}
          }
        }


        li:not(:first-child) {
          margin-left: 0.1em;
        }
      }

      .description {
        clear: left;
        margin: 1rem 0;
        text-align: justify;

        h3 {margin-bottom: 1em;}

        ul {
          font-size: 0.8em;
          margin-left: 1em;
          list-style: none;
        }

        li {
          margin-bottom: 0.5em;
          text-indent: unset;
        }
      }

      .buy--btn {
        position: relative;
        width: fit-content;
        align-self: flex-end;
        margin-right: 1.6rem;
        margin-top: auto;
        padding: 1.5em 4.1em 1.5em 2.1em;
        border: none;
        border-radius: 7px;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 1.3px;
        color: #fff;
        background-color: $color-highlight;
        box-shadow: 2px 2px 25px -7px $color-primary;
        cursor: pointer;

        img {
          max-width: 1.6rem;
          position: absolute;
          right: .8rem;
          top: 50%;
          transform: translateY(-50%);
        }
        &:active {
          transform: scale(0.97);
        }
      }
    }

  }



  @media (orientation: portrait) {

    &.vertical {

      .product {
        width: unset;
        min-width: unset;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        padding-top: 0;
        padding-bottom: 0;

        .product__photo {

          .photo-container {
            position: relative;
            width: 110%;
            left: -5%;
            right: -5%;

            .photo-main {
              min-height: 220px;

              #mainImg {
                top: 18%;
                left: 50%;
                max-width: 75%;
                max-height: 65%;
                transform: translateX(-50%) translateY(-50%);
              }

            }
          }
        }

        .product__info {
          flex-direction: row;
          flex-wrap: wrap;
          padding-left: 1rem;
          padding-bottom: 1rem;

          .title {
            width: 50%;
            text-align: left;
          }

          .price {
            width: 50%;
            text-align: right;
            margin-bottom: .4rem;
          }

          .variant {
            width: 100%;

            h3 {
              margin-bottom: 0;
            }

            ul > li {
              // width: 50px;
              // height: 50px;
            }
          }

          .description {
            width: 100%;
            margin-top: 0;
            h3 {
              margin-top: 0;
            }
          }

          .buy--btn {
            width: 100%;
            margin-right: 0;
          }
        }

      }
    }
  }

}


