<!-- MODEL CARD -->
<section class="product" *ngIf="model" (click)="this.sharedService.goToPage('product', model)" data-item="model">
  <!-- LEFT COLUMN -->
  <div class="product__photo">
    <div class="photo-container">
      <div class="photo-main">
        <!-- SHARE ICONS -->
        <div class="controls"><i class="share"></i><i class="favourite"></i></div>
        <!-- MAIN IMAGE -->
        <img id="mainImg" *ngIf="model.img_urls.length > 0; else noPhoto" src="{{ model.img_urls[0] }}" alt="Main product img">
        <ng-template #noPhoto><img src="../../../../assets/img/default.svg" alt="No Photo"></ng-template>
      </div>
      <!-- IMG GALLERY: Max 4 images -->
      <div class="photo-album" *ngIf="model.img_urls.length > 1">
        <ul>
          <ng-container *ngFor="let img of model.img_urls; index as i; count as c;"><li *ngIf="i >= 1 && i < 5" (click)="setMainPic($event, img)" >
            <img src="{{img}}" alt="Product Images"></li></ng-container>
        </ul>
      </div>
    </div>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="product__info">
    <!-- TITLE -->
    <div class="title">
      <h1 *ngIf="model.name">{{ model.name }}</h1>
      <span *ngIf="model.reference">REF: {{ model.reference }}</span>
    </div>
    <!-- PRICE -->
    <div class="price">
      <span>{{ (model.pvp ? model.pvp : '') | currency:'EUR':'symbol' }}</span>
    </div>
    <!-- DIMENSIONS -->
    <div *ngIf="model.mainDimension" class="variant">
      <h3>{{'modelItem.select' | translate}} {{ model.mainDimension.name | uppercase}}</h3>
      <ul *ngIf="model.mainDimension.dimComponents.length > 0">
          <ng-container *ngFor="let component of model.mainDimension.dimComponents;">
            <!-- IMAGE COMPONENT -->
             <ng-container *ngIf="component.imgURL else compColor">
               <li *ngIf="component.imgURL else compColor"  class="comp-img"><img src="{{component.imgURL}}" alt="Product Images" title="{{component.name}}"></li>
             </ng-container>
            <!-- COLOR COMPONENT -->
             <ng-template #compColor>
               <ng-container *ngIf="component.code; else compName">
                 <li class="comp-color">
                   <div><svg height="12" width="12">
                     <circle cx="6" cy="6" r="6" attr.fill="{{component.code}}" />
                   </svg></div>
                   <span title="{{component.name}}">{{component.name}}</span>
                 </li>
               </ng-container>
             </ng-template>
            <!-- TEXT COMPONENT -->
             <ng-template #compName>
               <li class="comp-name"><span title="{{component.name}}">{{component.name}}</span></li>
             </ng-template>
           </ng-container>
       </ul>
     </div>
     <!-- DESCRIPTION -->
    <div class="description">
      <h3 *ngIf="model.description">{{'modelItem.description' | translate}} </h3>
      <ul>
        <li [innerHTML]="model.description"></li>
      </ul>
    </div>
    <!-- BUY BUTTON -->
    <button class="buy--btn" (click)="model.mainDimensionId ? this.sharedService.goToPage('product', model) : addToCart($event, model)">
      <img src="../../../../assets/img/icons/{{model.mainDimensionId ? 'choice.svg' : 'cart.svg'}}" alt="icon">
      <span>{{ model.mainDimensionId ?  translate.instant('modelItem.select') : translate.instant('modelItem.addToCart')}}</span>
    </button>
  </div>
</section>
