:host {

  --white: rgba(255,255,255,0.2);
  --textColor: rgba(120, 120, 120, 1);
  --placeholderColor: rgba(130, 130, 130, 0.7);



  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translateX(-50%) translateY(-50%);

  .expandable {
    transition: height 0.1s ease-out;
    overflow: hidden;
  }

  .content {

    position: relative;
    width: 100%;
    //min-height: 450px;
    background:var(--white);
    padding: 2rem 3rem 4rem 2rem;
    border-radius: 20px;
    border-left: 1px solid var(--white);
    border-top: 1px solid var(--white);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;



    .toggleLogin {
      position: absolute;
      height: 3rem;
      width: fit-content;
      white-space: nowrap;
      padding-top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      bottom: 6px;
      color: #231c52;
      cursor: pointer;
      background-image: url('../../../assets/img/icons/form-icon.svg');
      background-size: 38px;
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 4rem;
      &.qr-login {
        background-image: url('../../../assets/img/icons/qr.svg');
      }
    }

    // Drops movement
    &:hover + .drops > .drop{
      &.drop-1 {margin: -10px;}
      &.drop-2 {margin: -6px;}
      &.drop-3 {margin: -16px;}
      &.drop-4 {margin: -6px;}
      &.drop-5 {margin: -40px;}
    }
  }




  .drop {
    background:var(--white);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid var(--white);
    border-top: 1px solid var(--white);
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
    position: absolute;
    transition: all 0.2s cubic-bezier(.26,.47,0,.98);

    &-1 {
      height: 80px;
      width: 80px;
      top: -20px;
      left: -40px;
      z-index: -1;
    }

    &-2 {
      height: 80px;
      width: 80px;
      bottom: -30px;
      right: -40px;
    }

    &-3 {
      height: 100px;
      width: 100px;
      bottom: 120px;
      right: -30px;
      z-index: -1;
    }

    &-4 {
      height: 120px;
      width: 120px;
      top: -90px;
      right: -40px;
    }

    &-5 {
      height: 60px;
      width: 60px;
      bottom: 80px;
      left: 30px;
      z-index: -1;
    }
  }



}
