<div class="content expandable" #expandable>
  <!-- LOGIN FORM -->
  <ng-container *ngIf="showForm && appConfigService.appConfigValues.loginConfig.SHOW_FORM_LOGIN">
    <app-login-form></app-login-form>
    <div *ngIf="appConfigService.appConfigValues.loginConfig.SHOW_QR_LOGIN" id="showQR" class="toggleLogin qr-login" (click)="toggleLogin()">{{'login.switchToQRLoginLink' | translate}}</div>
  </ng-container>
  <!-- LOGIN QR -->
  <ng-container *ngIf="!showForm && appConfigService.appConfigValues.loginConfig.SHOW_QR_LOGIN">
    <app-login-qr></app-login-qr>
    <div *ngIf="appConfigService.appConfigValues.loginConfig.SHOW_FORM_LOGIN" id="showForm" class="toggleLogin" (click)="toggleLogin()">{{'login.switchToFromLoginLink' | translate}}</div>
  </ng-container>
</div>

<div class="drops">
  <div class="drop drop-1"></div>
  <div class="drop drop-2"></div>
  <div class="drop drop-3"></div>
  <div class="drop drop-4"></div>
  <div class="drop drop-5"></div>
</div>
