:host {
  height: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 10fr;

  section#level0 {

    width: 100%;
    height: fit-content;
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl; // Scroll bar to left.
    padding: .4rem .4rem 1rem .8rem;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
    app-category {
      border-radius: 4px;
      flex-basis: 100%; // Elements will fill the whole row.
      direction: ltr;
    }

  }

  section#level1 {

    position: relative;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    gap: .4rem;
    height: fit-content;
    width: fit-content;
    min-width: 100px;
    max-width: 100%;
    overflow-x: auto;
    padding-right: .2rem;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
    app-category {
      margin-top: .4rem;
      margin-bottom: .4rem;
      margin-left: .4rem;
      border-radius: 4px;
    }
  }

  section#productsGrid {
    position: relative;
    height: 100%;
    padding-top: 1.5rem;
    padding-right: .4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    max-height: 100%;
    min-height: 5rem;
    overflow-y: auto;

    app-categories-map {
      position: absolute;
      width: max-content;
      top: 0;
      right: 0;
    }

    app-model-item {
      height: fit-content;
      min-height: unset;
      transform: scale(.9);
      box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
    }
  }


  @media (orientation: portrait) {
    section#level0 {
    }
    section#productsGrid {
      gap: 0; // Since elements of grid ar 0.9 scaled we dont need the gap.
      app-categories-map {
        right: 2rem;
      }
      app-model-item {
        max-width: 45%;
      }
    }
  }
}
