<section id="level0" #level0 *ngIf="categories_level0">
  <app-category @fadeIn @fadeOut *ngFor="let cat of categories_level0; index as i; count as c;"
                class="level0" id="cat_{{cat.id}}"
                [category]="cat" [index]="i" (click)="categorySelected({categoryId: cat.id!, navBarLevel: 0})"></app-category>
</section>

<section id="level1" #level1 @fadeIn @fadeOut *ngIf="categories_level1 && (categories_level0 | callback: filterSelectedCategory)">

  <app-category @fadeIn @fadeOut *ngFor="let cat of categories_level1; index as i; count as c;"
                class="level1" id="cat_{{cat.id!}}"
                [category]="cat" [index]="i" (click)="categorySelected({categoryId: cat.id!, navBarLevel: 1})"></app-category>

</section>


<section id="productsGrid" #productsGrid *ngIf="modelsArray">
  <app-categories-map [navBarsArray]="navBars" (onCategorySelected)="categorySelected($event)"></app-categories-map>
  <app-model-item @fadeIn class="productItem vertical" *ngFor="let model of modelsArray;  index as i; count as c;" [model]="model">
  </app-model-item>
</section>
