
<!-- GRAPHIC_HORIZONTAL -->
<ng-template #horizontalNav [ngIf]="configService.appConfigValues.navConfig.NAV_TYPE == navTypes.GRAPHIC_HORIZONTAL">
  <app-horizontal-category-nav></app-horizontal-category-nav>
</ng-template>

<!-- GRAPHIC_VERTICAL -->
<ng-template #verticalNav [ngIf]="configService.appConfigValues.navConfig.NAV_TYPE == navTypes.GRAPHIC_VERTICAL">
  <app-vertical-category-nav></app-vertical-category-nav>
</ng-template>





