:host {
  background: rgba(255, 255, 255, 0.48);
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100% - 80px);
  width: 100%;
  z-index: 100;
  padding: 3rem 2rem;
  overflow: hidden;

  app-horizontal-category-nav {

  }

  app-vertical-category-nav {

  }


  @media (orientation: portrait) {
    padding: 3rem 1rem;

  }


}
