:host {

  position: relative;
  margin: .4rem 1rem;

  a.menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid lightgrey;
    border-left: none;
    border-right: none;
    transition: background-color .2s ease-out;
    padding: .6rem 1rem;

    .itemIcon {max-width: 38px;}
  }

  &.active > a.menu-item{
    background-color: #baf0b8!important;
  }

  &:hover > a.menu-item{
    background-color: lightblue;
  }

}
