<div class="cart-total">

  <!-- TOTAL PRICE -->
  <p>
    <span>{{'cart.totalPrice' | translate}}</span>
    <span>{{ cartService.getTotalPVP() + cartService.getAppliedPromosAmount() || 0 | currency:'EUR':'symbol'}}</span>
  </p>

  <!-- ITEMS AMOUNT -->
  <p>
    <span>{{'cart.products' | translate}}</span>
    <span> {{cartService.getTotalItems() || 0}}</span>
  </p>

  <!-- APPLIED POMOS AMOUNT -->
  <p>
    <span>{{'cart.appliedPromos' | translate}}</span>
    <span> {{promoCount}}</span>
  </p>

  <!-- APPLIED POMOS SUMMARY -->
  <div class="promos-sumup" *ngIf="promoCount != 0">

    <!-- PROMO ITEM TEMPLATE -->
    <ng-template #promoItemTemplate let-promo let-type="type">
      <span class="{{type}}">{{promo.desc}}</span><span>-</span><span class="promo-amount">{{promo.amount_vat | currency:'EUR':'symbol' }}</span>
    </ng-template>

    <!-- ONE ITEM FOR EACH PROMO IN EVERY LINE -->
    <ng-container *ngFor="let line of cartService.ticketLines; index as i; count as c;">
      <ng-container *ngIf="line.promos">
        <ng-container *ngFor="let promo of line.promos; index as i; count as c;">
          <ng-container [ngTemplateOutlet]="promoItemTemplate"  [ngTemplateOutletContext]="{ $implicit: promo, type: 'promo-item line-promo'}"></ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- ONE ITEM FOR EACH HEADER PROMO-->
    <ng-container *ngIf="cartService.promos">
      <ng-container *ngFor="let promo of cartService.promos; index as i; count as c;">
        <ng-container [ngTemplateOutlet]="promoItemTemplate"  [ngTemplateOutletContext]="{ $implicit: promo, type: 'promo-item header-promo'}"></ng-container>
      </ng-container>
    </ng-container>
  </div>

  <!-- APPLIED POMOS SAVED AMOUNT -->
  <p *ngIf="promoCount != 0" class="promo-total-amount">
    <span>{{'cart.savings' | translate}}</span>
    <span>{{ totalAmountPromos | currency:'EUR':'symbol'}}</span>
  </p>

  <hr>
  <!-- FINAL PRICE: With promos applied -->
  <div class="final">
    <span>{{'cart.finalPrice' | translate}}</span>
    <span class="final-price">{{cartService.getTotalPVP() || 0 | currency:'EUR':'symbol'}}</span>
  </div>

  <!-- KEEP BUYING: GO BACK -->
  <a class="goBack" routerLink="../checkout" (click)="_location.back()">{{'cart.keepShoppingBtn' | translate}}</a>

  <!-- CHECKOUT -->
  <a routerLink="../checkout">{{'cart.checkoutBtn' | translate}}</a>

</div>
