:host {
  font-weight: bold;
  --promo-color: #196809;
}

.cart-total {

  width: 100%;

  p, .final {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    .final-price {
      font-size: 2rem;
    }
  }

  // Check Out Button
  a {
    display: block;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    background-color: tomato;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 1px;

    &.goBack {
      background-color: yellowgreen;
      margin-bottom: 1rem;

      &:hover {
        background-color: var(--promo-color);;
      }
    }

    &:hover {
      background-color: red;
    }
  }

  .promos-sumup {
    width: 60%;
    margin-left: auto;
    color: var(--promo-color);
    margin-top: -1rem;
    border: 1px dashed grey;
    padding: .4rem .8rem;
    border-radius: 4px;
    max-height: 180px;
    overflow: auto;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-column-gap: 2rem;
    grid-row-gap: .5rem;
    justify-content: end;
    margin-bottom: .4rem;

    .promo-amount {
      text-align: right;
    }

  }

  .promo-total-amount span:last-child {
    color: var(--promo-color);
  }


  @media (orientation: portrait) {
      margin-left: 0;
      margin-bottom: 20px;

    .promos-sumup {
      width: 75%;
    }


    .final {
      display: flex;
      flex-direction: column;
      width: 100%;

      span {    width: 100%;}

      .final-price {
        width: 100%;
        display: block;
        text-align: right;
        margin-top: .8rem;
      }
    }
  }
}

