:host{

  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  z-index: 100;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.48);

  // SEARCH FORM
  #search {
    text-align: center;
    h1 {font-size: 3rem; text-transform: uppercase; margin-top: 5rem;}

    #searchInputs {
      width: 80%;
      margin: 4rem auto;
      font-size: 1.4rem;
      font-family: Montserrat, sans-serif !important;
      display: grid;
      grid-template-areas:  "bc   bc"
                            "ref  ref"
                            "name name"
                            "fam  subfam";
      grid-gap: 2rem 1rem;
      padding: 2rem 6rem;

      input, select {
        height: 5rem;
        font-size: 2rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: rgba(255, 255, 255, 0.51);
        padding-left: 1.2rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        font-family: inherit;
        &:focus {
          outline-color: grey;
        }
      }

      select {
        color: grey;
        option:not(.placeholder) {
          color: black;
        }
      }

      #bcSearch {
        grid-area: bc;
        height: 100px;
        padding-left: 120px;
        background-image: url(/assets/img/icons/barcode.svg);
        background-position: .8rem center;
        background-repeat: no-repeat;
        background-size: 80px auto;
      }

      #nameSearch {
        grid-area: name;
      }

      #refSearch {
        grid-area: ref;
      }

      #familyId {
        grid-area: fam;
      }
      #subfamSelect {
        grid-area: subfam;
      }

    }

  }


  // SEARCH BUTTON
  #searchBtn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 500px;
    height: 6rem;
    padding: .4rem;
    font-weight: bold;
    font-size: 2rem;
    color: #333;
    border: solid 1px lightgrey;
    cursor: pointer;
    background-image: url('../../../assets/img/icons/lens.svg');
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: 2rem center;
    border-radius: 4px;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    transition: box-shadow .1s ease-out, transform .1s ease-out, background-color .1s ease-out;



    &:active, &.active {
      box-shadow: rgb(38, 57, 77) 0 10px 10px -10px;
      transform: translateY(2px);
      border: 1px solid transparent;
      background-color: #7a18ec47;
      span {
        position: absolute;
        display: block;

        &:nth-child(1) {
          filter: hue-rotate(0deg);
          top: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: linear-gradient(90deg, transparent, #3a86ff);
          animation: animate1 1s linear infinite;
        }
        @keyframes animate1 {
          0% {left: -100%;}
          50%,
          100% {left: 100%;}
        }

        &:nth-child(2) {
          filter: hue-rotate(60deg);
          top: -100%;
          right: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #3a86ff);
          animation: animate2 1s linear infinite;
          animation-delay: 0.25s;
        }

        @keyframes animate2 {
          0% {top: -100%;}
          50%,
          100% {top: 100%;}
        }
        &:nth-child(3) {
          filter: hue-rotate(120deg);
          bottom: 0;
          right: 0;
          width: 100%;

          background: linear-gradient(270deg, transparent, #3a86ff);
          animation: animate3 1s linear infinite;
          animation-delay: 0.5s;
        }
        @keyframes animate3 {
          0% {right: -100%;height: 3px;}
          50%,
          100% {height: 2px;right: 100%;} }

        &:nth-child(4) {
          filter: hue-rotate(300deg);
          bottom: -100%;
          left: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #3a86ff);
          animation: animate4 1s linear infinite;
          animation-delay: 0.75s;
        }
        @keyframes animate4 {
          0% {bottom: -100%;}
          50%,
          100% {bottom: 100%;}
        }
      }
    }


  }

  app-pixel-button {
    display: block;

  }


}



