<div id="search">

  <h1>{{'search.title' | translate}}</h1>


  <form id="searchInputs" #searchModelForm="ngForm">

    <input name="barcode" placeholder="{{'search.barcodePlaceHolder' | translate}}" id="bcSearch" ngModel="" autofocus>

    <input name="name" placeholder="{{'search.namePlaceHolder' | translate}}" id="nameSearch" ngModel="">

    <input name="reference" placeholder="{{'search.referencePlaceHolder' | translate}}" id="refSearch" ngModel="">



    <select *ngIf="families" (ngModelChange)="onFamilyChange($event)" name="familyId" id="familyId" ngModel="">
      <option value class="placeholder" hidden selected>{{'search.famPlaceHolder' | translate}}</option>
      <option [value]="i.id" *ngFor="let i of families">{{i.name}}</option>
    </select>

    <select [ngModel]="selectedSubfamily" name="subfamSelect" id="subfamSelect" [disabled]="selectedFamily == ''"  ngModel="">
      <option value class="placeholder" hidden selected>{{'search.subFamPlaceHolder' | translate}}</option>
      <option [value]="i.id" *ngFor="let i of subFamilies">{{i.name}}</option>
    </select>

  </form>

  <button id="searchBtn" (click)="searchModels()">
    <span></span><span></span><span></span><span></span>{{'search.searchBtn' | translate}}</button>

  <!-- <app-pixel-button data-type="purple" [text]="'¡BÚSCAMELO!'"></app-pixel-button> -->
  <!-- <app-glow-button [text]="'¡BÚSCAMELO!'"></app-glow-button> -->

</div>




