
<form [formGroup]="formInstance" autocomplete="off">
  <h3>{{'checkOut.addressComponent.title' | translate}}</h3>

  <label class="text-strong">{{'checkOut.addressComponent.name' | translate}}:</label>
  <input type="text" id="name_addr" name="name_addr" formControlName="name_addr" placeholder="{{'checkOut.addressComponent.name' | translate}}*" autocomplete="name_addr"
         class="form-control transparent">

  <label class="text-strong">{{'checkOut.addressComponent.address' | translate}}:</label>
  <input type="text" id="line1_addr" name="line1_addr" formControlName="line1_addr" placeholder="{{'checkOut.addressComponent.addressPlaceHolder' | translate}}*" autocomplete="line1_addr"
         class="form-control transparent">

  <label class="text-strong">{{'checkOut.addressComponent.line2' | translate}}:</label>
  <input type="text" id="line2_addr" name="line2_addr" formControlName="line2_addr" placeholder="{{'checkOut.addressComponent.line2Placeholder' | translate}}" autocomplete="line2_addr"
         class="form-control transparent">

  <label class="text-strong">{{'checkOut.addressComponent.zipCode' | translate}}:</label>
  <input type="text" id="zc_addr" name="zc_addr" formControlName="zc_addr" placeholder="{{'checkOut.addressComponent.zipCode' | translate}}*" autocomplete="zc_addr"
         class="form-control transparent" >

  <label class="text-strong">{{'checkOut.addressComponent.city' | translate}}:</label>
  <input type="text" id="town_addr" name="town_addr" formControlName="town_addr" placeholder="{{'checkOut.addressComponent.city' | translate}}*" autocomplete="town_addr"
         class="form-control transparent">

  <!-- <label class="text-strong">Provincia:</label>
  <input type="text" id="city_addr" name="city_addr" formControlName="city_addr" placeholder="Provincia*" autocomplete="city_addr"
         class="form-control transparent"> -->

  <label class="text-strong">{{'checkOut.addressComponent.province' | translate}}:</label>
  <select  name="city_addr" formControlName="city_addr" autocomplete="city_addr" required
           class="form-control transparent" >
    <option value="" selected disabled hidden>{{'checkOut.addressComponent.provincePlaceholder' | translate}}</option> <!-- Invalid option cannot be selected and is hidden from the user in the dropdown. -->
    <option *ngFor="let p of constants.PROVINCES" value="{{p}}">{{p}}</option>
  </select>




  <!-- <label class="text-strong">País:</label>
  <select  name="country" formControlName="country"
           class="form-control" >
    <option value="">Choose a country</option>
    <option value="France">France</option>
    <option value="Germany">Germany</option>
    <option value="Italy">Italy</option>
  </select> -->

</form>
