:host {



  form {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-column-gap: 1rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    // border: 1px solid #4bb9b1;
    border-radius: 4px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    padding-bottom: 1rem;
    h3 {
      grid-column: 1 / 3;
    }

    label {
      // display: none;
      align-self: center;
      margin-bottom: 0.4em;
    }





    .invalid-feedback {
      text-align: right;
      margin-top: -1.8rem;
      margin-bottom: .6rem;
      padding-right: .4rem;
      color: indianred;
    }

  }

}
