//@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'src/assets/fonts/monserrat/fonts';
@import '../node_modules/simple-keyboard/build/css/index.css';

html, body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 14px;
  //font-family: 'Roboto', sans-serif;
  background: lightgreen url(/assets/img/bg/trianglify.png);
  background-size: cover;
  overflow: hidden;
  color: #333;

  button {
    color: #333;
    border-radius: 4px;
  }

}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}


// CUSTOM SCROLL BAR
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.64);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  background-color: rgba(85, 85, 85, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3b3737;
}


// CUSTOM INPUTS
input.transparent, button.transparent, select.transparent {

  --white: rgba(255,255,255,0.2);
  --textColor: rgba(120, 120, 120, 1);
  --placeholderColor: rgba(130, 130, 130, 0.7);

  background: rgba(255, 255, 255, .2);
  width: 95%;
  height: 1.8rem;
  font-size: 1.2rem;
  padding: .1rem .4rem .1rem 1rem;
  margin-bottom: .4em;
  border: none;
  outline: none;
  border-left: 1px solid var(--white);;
  border-top: 1px solid var(--white);;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(255, 255, 255, 0.2);
  color: var(--textColor);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);

  option:first-child {
    color: var(--textColor);
  }

  &::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: var(--placeholderColor);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }


  &:focus, &:focus-visible {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
    outline: none;
  }
}

select option {
  color: var(--textColor);
  padding-left: 10px;
}
select:invalid,
select option[value=""] {
  color: var(--placeholderColor);
  padding-left: 10px;
}



// SPINNER
@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.spinner {
  position: absolute;
  top: calc(50% - 18px);
  right: .7rem;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;

  animation: spin 1s ease infinite;
}




