@use "sass:math";

// Simple Category Cards: No Image
.simple_card {

  $color1: #5271C2;

  @mixin easeOut {
    transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  // $stepnum will define the length of the shadow.
  @function longshadow($color_a,$color_b,$stepnum, $opacity: 1){
    $gradient_steps: null;
    @for $i from 1 through $stepnum {
      $weight: math.div($i - 1, $stepnum ) * 100;
      $colour_mix: mix($color_b, rgba($color_a, $opacity), $weight);
      $seperator: null;
      @if($i != $stepnum){
        $seperator: #{','};
      }
      $gradient_steps: append( #{$gradient_steps}, #{$i}px #{$i}px $colour_mix $seperator );
    }
    @return $gradient_steps;
  }

  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 30px 30px 0;
  transition: color .3s ease-out;
  cursor: pointer;

  &.active {
    color: ivory;
  }

  .simple_card__front {
    background: $color1;
    border-radius: 4px;
    user-select: none;
  }
  .simple_card__num {
    margin-left: 1rem;
    text-shadow: longshadow(darken($color1, 15%),$color1,100, 0.8);
  }

  &:last-child {
    margin-right: 0;
  }

  &__front {
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    z-index: 2;
    overflow: hidden;
  }

  &__name {
    height: 95%;
    font-size: 32px;
    line-height: 0.9;
    font-weight: 700;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 1.2rem;
    padding-right: 1.8rem;
    text-shadow: longshadow(darken($color1, 15%),$color1,20, 0.8);
    span {
      font-size: 14px;

    }
  }

  &__num {
    font-size: 100px;
    margin: 0 8px 0 0;
    font-weight: 700;

    @media (max-width: 700px) {
      font-size: 70px;
    }
  }

  @media (max-width: 700px) {
    width: 100%;
    height: 290px;
    margin-right: 0;
    float: none;

    .simple_card__front,
    .simple_card__back {
      height: 290px;
    }
  }
}



// Image Category Cards
.img_card {

  height: 100%;
  min-height: 180px;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 4px;

  &.active {
    // border: 2px solid grey;
    figure {
      figcaption {
        width: 300px;
        // background-color: cornflowerblue;
      }
      svg {
        background-color: darkturquoise;
      }
      .body {
        background-color: darkturquoise;
      }
    }
  }

  figure {

    height: 100%;
    width: auto;
    margin: 0 1%;
    overflow: hidden;
    position: relative;


    &:hover .media {
      transform: scale(1.25);
    }

    .media {
      background-position: center;
      background-size: cover;
      height: 100%;
      position: absolute;
      transition: all 0.3s ease;
      width: 100%;
    }


    figcaption {
      color: #252830;
      height: calc(100% - 30px);
      margin-left: 15px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 250px;
      transition: width .2s ease-out, margin .2s ease-out;
    }
    .body {
      background-color: white;
      padding: 8px 15px 15px;
      width: 100%;
      height: auto;
      transition: background-color .2s ease-out;
      margin-top: -4px;
      color: #333;
      font-weight: bold;
      text-align: justify;
      span {
        text-align: justify;
      }
    }
    svg {
      height: 50%;
      width: 100%;
      padding-bottom: 4px;
      transition: background-color .2s ease-out;
      text {
        text-anchor: middle;
      }
      #alpha {
        fill: white;
      }
      .title {
        font-size: 28px;
        letter-spacing: 5px;
      }
      #base {
        fill: white;
      }
    }

  }


}


@media (orientation: portrait) {

  // Category cards level0 for portrait orientation.
  :host.level0 {

    .simple_card {
      min-width: unset;
    }


    // Active image category cards for portrait orientation.
    .img_card {
      &.active {
        // border: 2px solid grey;
        figure {
          figcaption {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }

      figure {
        figcaption {
          width: calc(100% - 1rem);
          margin-left: .5rem;
          margin-right: .5rem;
        }
      }

    }
  }
}


