<!-- Simple category cards: No image -->
<div *ngIf="category && !configService.appConfigValues.navConfig.IMG_CATEGORY_CARDS" class="card simple_card" [ngClass]="category.isSelected ? 'active' : ''">
    <div class="simple_card__front">
      <!-- <p class="simple_card__num">{{index}}</p> -->
      <p class="simple_card__name"><!-- <span>Categoria</span>--><br>{{category.label.es}}</p>
    </div>
</div>

<!-- Category cards with image -->
<!-- https://codepen.io/daiquiri/pen/GWpPKP -->
<div *ngIf="category && configService.appConfigValues.navConfig.IMG_CATEGORY_CARDS" class="card img_card" [ngClass]="category.isSelected ? 'active' : ''">
  <figure>
    <div class="media"  [ngStyle]="{'background-image': 'url(' +  category.imgURL + ')' }"></div>
    <figcaption>
      <svg viewBox="0 0 320 80" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <mask id="mask_{{category.id}}" x="0" y="0" width="100%" height="100%">
            <rect id="alpha" x="0" y="0" width="100%" height="100%"></rect>
            <text class="title" dx="50%" dy="2em">{{category.label.es}}</text>
          </mask>
        </defs>
        <rect id="base" x="0" y="0" width="100%" height="100%" [ngStyle]="{'mask': 'url(#mask_' + category.id + ')'}"></rect>
      </svg>
      <div class="body">
        <span>{{category.description}}</span>
      </div>
    </figcaption>
  </figure>
</div>
