.container {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  background: rgba(255, 255, 255, 0.48);
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  padding: 3rem 2rem;
  overflow: hidden;
  max-width: 1200px;
  margin: 2.8rem auto;

  section#sumup {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: space-between;

    #lines {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .cart-item {
        position: relative;
        width: 100%;
        height: fit-content;
        max-height: 6rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        border: 1px solid lightgrey;
        padding-right: 1rem;


        .product-price {
          text-align: right;
        }

        .product-img {
          padding-right: .6rem;
          height: 5rem;
          text-align: center;
          img {
            max-height: 95%;
            max-width: 95%;
            margin: auto;
          }
        }

      }


    }

    #prices {
      flex: .20;
      border: 1px solid lightseagreen;
      display: grid;

      grid-template-columns: 4fr 1fr;
      align-items: center;
      gap: 1rem;
      padding: 1rem 2rem;

      .info {
        display: grid;
        grid-template-columns: 3fr 2fr;
        height: 100%;
        font-weight: bold;

        span {
          align-self: center;
        }
      }

      .total-price {
        display: flex;
        align-items: center;

        span {
          width: 100%;
          text-align: center;
          font-size: 3rem;
        }
      }
    }
  }


  section#userInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;


    // Adress
    app-address, .empty {
      flex: 0.8;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

    }

    // Empty div to keep aspect after hiding app-address
    app-address + .empty {
      display: none;
    }

    // Pay button
    #payBtn {
      height: 100%;
      flex: .2;
      display: inline-block;
      border-radius: 5px;
      color: #fff;
      font-size: 2rem;
      letter-spacing: 1px;
      background-color: #333;
      box-sizing: border-box;
      border: 0;
      cursor: pointer;
    }

  }

}


// Toggle Switch buttons for DELIVERY/PICK UP
.toggle--switch {

  --toggle-heigth: 32px;

  display: block;
  text-align: center;
  user-select: none;

  .toggle--btn {
    display: block;
    position: relative;
    width: 160px;
    height:  var(--toggle-heigth);
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(90deg,#a4bf4d 0,#a4bf4d 50%, #3ad6d7 50%,#3ad6d7 200%);
    background-position: -160px 0;
    background-size: 200% 100%;
    box-shadow: inset 0 0 22px -8px #111;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 1em;
    transition: all 250ms ease-in;
    &:before {
      border-radius: 4px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 52px;
      height: var(--toggle-heigth);
      border: 2px solid #202027;
      background-image: linear-gradient(90deg,transparent 50%,rgba(255,255,255,.15) 100%);
      background-color: #2b2e3a;
      background-size: 5px 5px;
      text-indent: -100%;
      transition: all 250ms ease-in;
      content: '';
    }
    &:hover {
      cursor: pointer;
    }
    &:after {
      transition: all 250ms ease-in;
      content: '';
      display: block;
    }
  }
  .toggle--feature {
    transition: all 250ms ease-in;
    position: relative;
    display: block;
    overflow: hidden;
    height: var(--toggle-heigth);
    text-shadow: 0 1px 2px #666;

    &:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: attr(data-label-off);
      padding-right: 1rem;
      right: 4%;
      transition: all 250ms ease-in;
      display: block;
    }
    &:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: attr(data-label-on);
      left: -60%;
      transition: all 250ms ease-in;
      display: block;
    }
  }
  .toggle--checkbox {
    display: none;
    transition: all 250ms ease-in;
    &:after {
      transition: all 250ms ease-in;
      content: '';
      display: block;
    }
    &:before {
      transition: all 250ms ease-in;
      content: '';
      display: block;
    }
    &:checked+.toggle--btn {
      background-position: 0 0;
      &:before {
        left: calc(100% - 52px);
      }
      .toggle--feature {
        &:before {
          left: 10%;
        }
        &:after {
          right: -60%;
        }
      }
    }
  }
}


// Payment modal
jw-modal {

  text-align: center;
    img.nfc {
      position: absolute;
      top: 1rem;
      right: 1rem;
      max-width: 30px;
    }

    .modal-header {
      width: 100%;
      margin-top: 1rem;
      padding-right: calc(1rem + 30px);
      border-bottom: 1px solid #666;
      text-align: left;
      h3 {
        font-size: 1.2rem;
        letter-spacing: 1px;
        line-height: 2rem;
        color: #333;
      }
    }


  img.main {
    max-width: 100%;
  }
}
