<div class="container">


  <!-- LEFT COLUMN -->
  <section id="sumup">

    <div id="lines" *ngIf="evaluatedCart | async" @fadeIn @fadeOut>
      <!-- CART LINES -->
      <ng-container>
        <div class="cart-item" *ngFor="let ticketLine of cartService.ticketLines; index as i; count as c;">
          <!-- PRODUCT IMAGE -->
          <div class="product-img"><img [src]="ticketLine.product.img_urls[0]" alt="Product Img"></div>
          <!-- PRODUCT INFO -->
          <h3 class="product-name">{{ticketLine.quantity}} {{ticketLine.product.name}}</h3>
          <!-- PRODUCT INFO -->
          <h3 class="product-price">{{ ticketLine.getLinePVP() | currency:'EUR':'symbol'}}</h3>
          <!-- DELIVERY TOGGLE BUTTON -->
          <div class="toggle toggle--switch">
            <input type="checkbox" id="toggleDelivery_{{ticketLine.product.id}}" class="toggle--checkbox" (change)="deliveryChange(ticketLine.product.id)" [checked]="ticketLine.delivery">
            <label class="toggle--btn" for="toggleDelivery_{{ticketLine.product.id}}"><span class="toggle--feature" [attr.data-label-on]="appConfigService.appConfigValues.labelsConfig.DELIVERY" [attr.data-label-off]="appConfigService.appConfigValues.labelsConfig.PICKUP"></span></label>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- CART PRICES -->
    <ng-container *ngIf="evaluatedCart | async">
      <div id="prices">

        <!-- GENERAL INFO -->
        <div class="info">
          <!-- TOTAL PRICE -->
          <span>{{'cart.totalPrice' | translate}}</span>
          <span>{{ cartService.getTotalPVP() + cartService.getAppliedPromosAmount() || 0 | currency:'EUR':'symbol'}}</span>
          <!-- ITEMS AMOUNT -->
          <span>{{'cart.products' | translate}}</span>
          <span> {{cartService.getTotalItems() || 0}}</span>
          <!-- APPLIED POMOS AMOUNT -->
          <span>{{'cart.appliedPromos' | translate}}</span>
          <span> {{this.cartService.getAppliedPromosNumber()}}</span>
          <!-- SAVED MONEY ON PROMOS -->
          <ng-container *ngIf="this.cartService.getAppliedPromosNumber()">
          <span>{{'cart.savings' | translate}}</span>
          <span>{{ this.cartService.getAppliedPromosAmount() | currency:'EUR':'symbol'}}</span>
          </ng-container>
        </div>
        <!-- TOTAL ORDER PRICE -->
        <div class="total-price">
          <span>{{ cartService.getTotalPVP() || 0 | currency:'EUR':'symbol'}}</span>
        </div>
      </div>
    </ng-container>

  </section>



  <!--RIGHT COLUMN -->
  <section id="userInfo">
    <!-- DELIVERY ADDRESS -->
    <app-address *ngIf="isAddressNeeded else empty" @fadeIn @fadeOut></app-address>
    <ng-template #empty><div class="empty"></div></ng-template>
    <!-- TICKET OPTIONS -->
    <app-ticket-options></app-ticket-options>
    <!-- PAYMENT BUTTONS -->
    <button id="payBtn" (click)="showPaymentModal()">{{'checkOut.payButton' | translate | uppercase }}</button>
  </section>


  <!-- PAYMENT MODAL CONTENT -->
  <jw-modal id="paymentModal">

    <img class="nfc" src="assets/img/icons/nfc.svg" alt="NFC">
    <div class="modal-header">
      <h3>{{'checkOut.paymentModal' | translate }}</h3>
    </div>
    <img class="main" src="assets/img/gif/wallet.gif" alt="Payment">
  </jw-modal>

</div>
