.container {
  background: rgba(255, 255, 255, 0.48);
  color: rgba(black, 0.65);
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  padding: 3rem 2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 2.8rem auto;



  #menu-content {

    // Background Colors
    $bg-color: rgb(178 211 255);
    $dot-color: transparent;

    // Background Dimensions
    $dot-size: 1px;
    $dot-space: 10px;

    display: flex;
    position: relative;
    flex-direction: column;
    grid-column: 1;
    height: fit-content;
    margin-top: 2rem;
    padding: 3rem 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);

    background:
      linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
      linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
      $dot-color;
    background-size: $dot-space $dot-space;

    .spinner {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .configInput {

      padding-left: 2rem;
      margin-bottom: 2rem;

      label { }

      input, select {
        height: 2rem;
        margin-top: 1rem;
        background-color: white;

        &[type=checkbox] {
          width: 2rem;
          margin-left: 1rem;
          vertical-align: middle;
          vertical-align: -webkit-baseline-middle;
        }
      }
    }
  }


  #menu-list {
    box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
    border-radius: 5px;
    grid-column: 2;
    height: fit-content;
  }


  // #saveConfigBtn {
  //   position: absolute;
  //   bottom: 1rem;
  //   right: 1rem;
  // }




  #locker {

    position: absolute;
    bottom: 3rem;
    right: 3rem;

    .btn-lock {
      position: absolute;
      top: calc(50% - 32px);
      left: calc(50% - 32px);
      display: inline-block;
      background: #ff5b5b;
      width: 64px;
      height: 64px;
      box-sizing: border-box;
      padding: 12px 0 0 18px;
      border-radius: 50%;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: all .2s ease-out;
    }
    .btn-lock svg {
      fill: none;
      transform: translate3d(0, 0, 0);
    }
    .btn-lock svg .bling {
      stroke: #fff;
      stroke-width: 2.5;
      // stroke-linecap: round;
      stroke-dasharray: 3;
      stroke-dashoffset: 15;
      transition: all 0.3s ease;
    }
    .btn-lock svg .lock {
      stroke: #fff;
      stroke-width: 4;
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke-dasharray: 36;
      transition: all 0.4s ease;
    }
    .btn-lock svg .lockb {
      fill: #fff;
      fill-rule: evenodd;
      clip-rule: evenodd;
      transform: rotate(8deg);
      transform-origin: 14px 20px;
      transition: all 0.2s ease;
    }
    #inpLock {
      display: none;
    }
    #inpLock:checked + label {
      background: #20cca5;
    }
    #inpLock:checked + label svg {
      opacity: 1;
    }
    #inpLock:checked + label svg .bling {
      animation: bling 0.3s linear forwards;
      animation-delay: 0.2s;
    }
    #inpLock:checked + label svg .lock {
      stroke-dasharray: 48;
      animation: locked 0.3s linear forwards;
    }
    #inpLock:checked + label svg .lockb {
      transform: rotate(0);
      transform-origin: 14px 22px;
    }
    @keyframes bling {
      50% {stroke-dasharray: 3;stroke-dashoffset: 12;}
      100% {stroke-dasharray: 3;stroke-dashoffset: 9;}
    }

    @keyframes locked {
      50% {transform: translateY(1px);}
    }


    @keyframes wobble {
      from  { transform: translate3d(0, 0, 0); }
      15%   { transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
      30%   { transform: translate3d(20%, 0, 0)  rotate3d(0, 0, 1, 3deg);  }
      45%   { transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
      60%   { transform: translate3d(10%, 0, 0)  rotate3d(0, 0, 1, 2deg);  }
      75%   { transform: translate3d(-5%, 0, 0)  rotate3d(0, 0, 1, -1deg); }
      to    { transform:  translate3d(0, 0, 0); }
    }

    .wobble {
      animation: wobble .6s ease-out;
    }
  }





}
