<!--suppress XmlDuplicatedId -->
<div class="container">

  <!-- CONFIG PROPERTIES INPUTS -->
  <ng-container *ngFor="let item of menu; let i = index">

    <div @fadeIn @fadeOut id="menu-content" *ngIf="item.active" >
      <span *ngIf="changesTimeout" class="spinner"></span>
      <h1>{{item.description}}</h1>
      <div class="configInput" *ngFor="let prop of item.children; let i = index" title="{{prop.description}}" (click)="checkDisabled($event)">
        <!-- Choose template depending pon input type -->
        <ng-container *ngIf="prop.type === 'text'; then textInput"></ng-container>
        <ng-container *ngIf="prop.type === 'checkbox'; then booleanInput"></ng-container>
        <ng-container *ngIf="prop.type === 'number'; then intInput"></ng-container>
        <ng-container *ngIf="prop.type === 'select'; then selectInput"></ng-container>

        <ng-template #textInput><label for="{{prop.name}}">{{prop.displayName}}</label>
          <input name="{{prop.name}}" id="{{prop.name}}" type="text" class="transparent" (input)="onConfigChange($event.target)" disabled [value]="configService.appConfigValues[item.name][prop.name]" [attr.data-old-value]="configService.appConfigValues[item.name][prop.name]" [attr.data-group]="item.name"></ng-template>
        <ng-template #intInput><label for="{{prop.name}}">{{prop.displayName}}</label>
          <input name="{{prop.name}}" id="{{prop.name}}" type="number" class="transparent" (input)="onConfigChange($event.target)" disabled [value]="configService.appConfigValues[item.name][prop.name]" [attr.data-old-value]="configService.appConfigValues[item.name][prop.name]" [attr.data-group]="item.name"></ng-template>
        <ng-template #booleanInput>
          <app-checkbox [inputName]="prop.name" [inputId]="prop.name" (onInputChange)="onConfigChange($event)" [disabled]="true"
                        [label]="prop.displayName" [isChecked]="configService.appConfigValues[item.name][prop.name]"
                        [attr.data-old-value]="configService.appConfigValues[item.name][prop.name]" [attr.data-group]="item.name">
          </app-checkbox>
        </ng-template>
        <ng-template #selectInput>
          <label for="{{prop.name}}">{{prop.displayName}}</label>
          <select name="{{prop.name}}" id="{{prop.name}}" class="transparent" (input)="onConfigChange($event.target)" disabled
                  [attr.data-old-value]="configService.appConfigValues[item.name][prop.name]" [attr.data-group]="item.name">
            <option *ngFor="let opt of prop.options" value="{{opt.val}}" [selected]="opt.val == this.configService.appConfigValues.navConfig.NAV_TYPE">{{opt.name}}</option>
          </select>
        </ng-template>
      </div>
    </div>
  </ng-container>

  <!-- SIDE MENU: CONFIG PROPERTIES GROUPS -->
  <div id="menu-list">
    <app-config-menu-item [ngClass]="{'active': item.active}"
                          *ngFor="let item of menu; let i = index" [item]="menu[i]" (click)="onItemSelected(menu[i])"></app-config-menu-item>
  </div>

  <!-- LOCKER: Enable/Disable inputs -->
  <div id="locker">
    <input id="inpLock" type="checkbox" (change)="lockerChanged($event.target)" #locker>
    <label class="btn-lock" for="inpLock">
      <svg width="36" height="40" viewBox="0 0 36 40">
        <path class="lockb" d="M27 27C27 34.1797 21.1797 40 14 40C6.8203 40 1 34.1797 1 27C1 19.8203 6.8203 14 14 14C21.1797 14 27 19.8203 27 27ZM15.6298 26.5191C16.4544 25.9845 17 25.056 17 24C17 22.3431 15.6569 21 14 21C12.3431 21 11 22.3431 11 24C11 25.056 11.5456 25.9845 12.3702 26.5191L11 32H17L15.6298 26.5191Z"></path>
        <path class="lock" d="M6 21V10C6 5.58172 9.58172 2 14 2V2C18.4183 2 22 5.58172 22 10V21"></path>
        <path class="bling" d="M29 20L31 22"></path>
        <path class="bling" d="M31.5 15H34.5"></path>
        <path class="bling" d="M29 10L31 8"></path>
      </svg>
    </label>
  </div>



  <!-- SAVE CONFIG BUTTON -->
  <!-- <button id="saveConfigBtn" (click)="saveConfig()">GUARDAR CONFIGURACIÓN</button> -->

</div>
