<!-- https://swiperjs.com/ -->

<!-- Close Button -->
<a class="close-viewer" (click)="close.emit()"><img src="assets/img/icons/close_circle_white.svg" alt="Close Button"></a>

<swiper class="mySwiper" *ngIf="imgArray" [navigation]="true" [pagination]="{ dynamicBullets: true, clickable: true }" [initialSlide]="this.startImg" [loop]="true"
        (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
<ng-template *ngFor="let img of imgArray" swiperSlide><img src="{{img}}" alt="Image"></ng-template>
</swiper>
