<main>

  <!-- CHECKBOX INPUT: Hidden -->
  <input type="checkbox" #input [id]="inputId" [name]="inputName" [checked]="isChecked" [disabled]="disabled"
  (change)="onInputChange.emit(input.checked)">
  <!-- LABEL: Green Circle Button -->
  <label [for]="inputId" class="checkbox checkbox__label">
    <div class="checkbox__inner">
      <div class="green__ball checkbox-interface"></div>
    </div>
  </label>
  <!-- LABEL TEXT -->
  <div class="checkbox__text">
    <span>{{label}}</span>
  </div>
</main>



