// Product item: One for each cart.ticketLine
.product {
  display: flex;
  flex: 1;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  border: 1px solid silver;
  margin-bottom: 20px;
  &:hover {
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
  }

  // Product image
  .product-img {
    display: flex;
    align-items: center;
    padding-top: .4rem;
    padding-bottom: .4rem;
    img {
      width: 300px;
      height: 200px;
      object-fit: contain;
      &:hover {
        transform: scale(1.04);
      }
    }
  }

  // Product Info: Prices, Dimensions, Quantity, Promos...etc.
  .product-info {
    padding: 20px;
    width: 100%;
    position: relative;


    .product-name {
      margin-bottom: 20px;
      margin-right: 2.6rem;
    }

    .product-price {
      display: flex;
      margin-bottom: 20px;
      margin-right: 3rem;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.4rem;

      .applied-promos {
        margin-left: auto;
        align-self: flex-end;
        font-size: 1rem;
        line-height: 1.6rem;
      }

      .label { margin-right: 1rem; padding-top: 1px;}

      del {
        color: rgba(red, 0.5);
        text-decoration: none;
        position: relative;
        font-size: 1rem;
        margin-right: 1rem;
        &:before {
          content: " ";
          display: block;
          width: 100%;
          border-top: 1px solid rgba(red, 0.7);
          height: 12px;
          position: absolute;
          top: 6px;
          left: 0;
          transform: rotate(-8deg);
        }
      }
      ins {
        color: green;
        font-size: 1.6rem;
        text-decoration: none;
      }

    }

    .product-dimensions {
      display: block;

      span:not(:last-child):after {
        content: ' /';
        color: grey;
      }
    }


    // Change product quantity combo: Input and +/- buttons.
    .quantity-input-group {
      display: inline-block;
      clear: both;
      margin: 15px 0;
      position: relative;

      // Product quantity.
      input.product-quantity {
        position: relative;
        height: 38px;
        text-align: center;
        width: 62px;
        display: inline-block;
        font-size: 13px;
        resize: vertical;
        border: 2px solid #eeeeee;
        box-sizing: border-box;
        margin: 0;
        outline: none;
        padding: 10px;
        -moz-appearance: textfield;
        -webkit-appearance: none;

        &::-webkit-outer-spin-button {-webkit-appearance: none;}
        &::-webkit-inner-spin-button {-webkit-appearance: none;}
      }

      // Buttons +/-
      input[type="button"] {
        background-color: #eeeeee;
        border: 1px solid #eeeeee;
        min-width: 38px;
        width: auto;
        transition: all 300ms ease;
        -webkit-appearance: button;
        cursor: pointer;

        &.button-minus {
          font-weight: bold;
          height: 38px;
          padding: 0;
          width: 38px;
          position: relative;
        }
        &.button-plus {
          font-weight: bold;
          height: 38px;
          padding: 0;
          width: 38px;
          position: relative;
        }
      }
    }


    .stock {
      display: inline-block;
      float: right;
      margin-top: 1.8rem;
      margin-right: 0;
      vertical-align: sub;
      text-align: right;
      --on-stock-color: limegreen;
      --on-global-stock-color: yellowgreen;
      --out-stock-color: #ff9b9b;
      user-select: none;

      & > * {
        border: 1px solid limegreen;
        width: fit-content;
        margin-left: auto;
        border-radius: 50px;
        padding: 2px 8px;
        font-weight: bold;
      }

      .on-stock {
        background-color: var(--on-stock-color);
        border-color: #269426;
      }
      .on-global-stock {
        background-color: var(--on-global-stock-color);
        border-color: #628320;
      }
      .out-of-stock {
        background-color: var(--out-stock-color);
        border-color: #9d6060;
      }
    }

    // Remove product button.
    .product-remove {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 36px;
      height: 34px;
      background-color: indianred;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      background-image: url('../../../../assets/img/icons/trash-can.svg');
      background-size: 24px;
      background-position: center;
      background-repeat: no-repeat;
      transition: background-color .2s ease;

      &:hover {
        background-color: indianred;
        font-weight: 600;
        border: 1px solid darkred;
      }
    }
  }
}



@media (orientation: portrait) {

  .product {

    .product-img {
      img {
        max-height: 94%;
        width: 200px;
      }
    }

    .product-info {
      .product-name {
        margin-bottom: 5px;
      }

      .product-price {

        flex-wrap: wrap;
        margin-bottom: 5px;
        margin-top: 5px;

        .applied-promos {
          margin-bottom: 5px;
          margin-top: 5px;
          width: 100%;
        }
      }

      .product-remove {

        padding: 0;
        width: 35px;
        height: 35px;
        bottom: 0;
        background-position: center;
        .remove {
          display: none;
        }
      }
    }

  }

}
