<div class="product" *ngIf="ticketLine && show" @fadeIn @fadeOut>
  <!-- PRODUCT IMAGE -->
  <div class="product-img"><img [src]="ticketLine.product.img_urls[0]" alt="Product Img"></div>
  <!-- PRODUCT INFO & ACTION BUTTONS -->
  <div class="product-info">

    <h3 class="product-name">{{ticketLine.product.name}}</h3>

    <div class="product-price">
      <div class="label">{{'cart.price' | translate}}:</div>
      <div *ngIf="ticketLine.promos;else no_promo">
        <del><span class="price">{{ticketLine.product.pvp * ticketLine.quantity | currency:'EUR':'symbol'}}</span></del>
        <ins><span class="price">{{ ticketLine.getLinePVP()| currency:'EUR':'symbol'}}</span></ins>
      </div>
      <ng-template #no_promo>
        <ins class="no_promo"><span class="price">{{ticketLine.getLinePVP() | currency:'EUR':'symbol'}}</span></ins>
      </ng-template>
      <div *ngIf="ticketLine.promos" class="applied-promos">{{'cart.appliedPromos' | translate}}:
        <span *ngFor="let p of ticketLine.promos; index as i; count as c;">{{ p.desc }}</span></div>
    </div>

    <div class="product-dimensions"><span *ngFor="let dim of ticketLine.product.dimensions">
      {{dim.name | titlecase}}: <strong>{{dim.dimComponents[0].name}}</strong></span></div>


    <!-- PLUS / MINUS BUTTONS -->
    <div class="quantity-input-group">
      <input type="button" value="-" class="button-minus" data-target="quantity"
             (click)="ticketLine.quantity > 1 ? cartService.decreaseProduct(ticketLine.product.id) : show = false;  cartService.evaluatePromos();">
      <input type="number" step="1" max="" [value]="ticketLine.quantity" name="quantity" class="product-quantity">
      <input type="button" value="+" class="button-plus" data-target="quantity" (click)="cartService.increaseProduct(ticketLine.product.id);  cartService.evaluatePromos();">
    </div>

    <!-- STOCK INFO -->
    <div class="stock" *ngIf="ticketLine">
      <div *ngIf="ticketLine.product.stock && ticketLine.product.stock >= ticketLine.quantity; else onGlobalStock" class="on-stock">{{appConfigService.appConfigValues.labelsConfig.STOCK_ES}}</div>
      <ng-template #onGlobalStock><div *ngIf="ticketLine.product.stockGlobal && ticketLine.product.stockGlobal >= ticketLine.quantity; else outOfStock" class="on-global-stock">{{appConfigService.appConfigValues.labelsConfig.STOCK_GLOBAL_ES}}</div></ng-template>
      <ng-template #outOfStock><div class="out-of-stock">{{appConfigService.appConfigValues.labelsConfig.OUT_STOCK_ES}}</div></ng-template>
    </div>


    <!-- REMOVE PRODUCT BUTTON -->
    <div class="product-remove" (click)="show = false; cartService.removeProduct(ticketLine.product.id); cartService.evaluatePromos();"></div>
  </div>
</div>
